@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Source+Sans+Pro&family=Tsukimi+Rounded&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-footer p{
  font-size: 0.8rem;
}

h2, h3, h4, h5, h6, p {
  font-family: 'Barlow', sans-serif;
}

p {
  font-size: 1.0rem;
  line-height: 1.5rem;
}

.Home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./../public/image/background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  -webkit-text-stroke: 1.1px white;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.home-item {
  animation: slideInFromTop 1s ease-out;
}

@keyframes arrowJump {
  from {
    top: 10px;
  }
  to {
    top: 40px;
  }
}

.left-centered {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.position {
  margin-bottom: 250px;
}

.about-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px 10px 20px 20px;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.about-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.about-text {
  text-align: justify;
}

@media (max-width: 768px) {
  .about-item {
    flex-direction: column;
    align-items: center;
  }

  .about-photo {
    margin: 0 0 20px 0;
  }

  .about-content {
    margin-left: 0;
    text-align: center;
  }
}

.icons-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.linkedin-icon:hover {
  background-color: #8c4ee8cf;
  color: #ffffff;
}

.github-icon:hover {
  background-color: #8c4ee8cf;
  color: #ffffff;
}

.Projects {
  width: 100%;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.project-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  border: 1px solid #cccccc2a;
  padding: 20px;
  margin: 10px auto;
  background-color: #cccccc2a;
}

@media (max-width: 1180px) {
  .project-item {
    flex-direction: column;
  }
}

.project-item2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-text {
  text-align: justify;
}

.project-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 20px;
}

.project-link p {
  font-size: 0.8rem;
  margin: 10px;
}

.project-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  background-color: #8748e62a;
  border: 1px solid #cccccc2a;
  padding: 2px;
  border-radius: 40px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.project-link a:hover {
  background-color: #8c4ee8cf;
  color: #ffffff;
}

.project-image {
  max-width: 500px;
  height: auto;
  margin: 20px;
}

.linkedin-icon,
.github-icon {
  margin-right: 10px;
  font-size: 1.5rem;
}

.language-toggle-container {
  position: fixed; 
  top: 20px; 
  right: 10px; 
  z-index: 1000;
}

.language-toggle {
  width: 3cm; 
  height: 1cm; 
  background-color: #5165bd; 
  color: white;
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 14px; 
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.language-toggle:hover {
  background-color: #2724f6; 
}
